body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    font-family: "Arial", sans-serif;
    font-size: 45px;
}

h1 {
    font-family: "Arial", sans-serif;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
}